/*The CSS below gives the html a background image that is centered, doesn't repeat and covers the whole screen*/
html{
  background: url(./Sunny.jpg);
  background-position: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*The CSS below gives the centers the div while giving it a specific size and making its border dotted*/
div{
  position: relative;
  margin: auto;
  width: 1000px;
  height: 700px; 
  text-align: center;
  border: dotted;
}

/*The CSS below makes the placeholder in the textbox white and centered with a specific size*/
::placeholder{
  font-size: 15px;
  color: white;
  text-align: center;
}

/*The CSS below makes the textbox grey, round and with no border*/
input{
  background-color: darkgray;
  width: 200px;
  height: 25px;
  font-size: 15px;
  border: none;
  border-radius: 10px;
}

/*The CSS below makes the button centered, black, transparent and the font color to be white*/
.submit{
  position: absolute;
  top: 130px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  width: 100px;
  background-color: transparent;
  border-color: black;
  color: white;
}

/*The CSS below makes the button background black when clicked*/
.submit:active{
  background-color: black;
}

/*The CSS below makes the city name centered and white*/
.cityName{
  position: relative;
  top: 80px;
  text-align: center;
  color: white;
}

/*The CSS below creates a flex box with its items centered*/
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: none;
}

/*The CSS below makes the div's have a grey background and no border*/
.day1{
  position: relative;
  top: 100px;
  background-color: lightgrey;
  height: 380px;
  width: 280px;
  border: none;
}
